@import "myVariables";
@import "myMixins";

section#chose_us {
  padding-top: 130px;
  padding-bottom: 10px;
  overflow: hidden;

  //Partnors section
  div.partnor {
    width: 170px;
    height: 90px;
    text-align: center;
    position: relative;
    margin-bottom: 90px;
    opacity: 0;
    -webkit-transform: translate(50px, 150px);
    -moz-transform: translate(50px, 150px);
    -o-transform: translate(50px, 150px);
    transform: translate(50px, 150px);
    transition: all 1s ease-out;
    img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-width: 170px;
    }
  }
  .fade-in {
    opacity: 1 !important;
    -webkit-transform: translate(0, 0) !important;
    -moz-transform: translateY(0, 0) !important;
    -o-transform: translateY(0, 0) !important;
    transform: translateY(0, 0) !important;
  }
  .btn {
    width: 250px;
    height: 50px;
    margin: 0 auto;
    button {
      @include myButton($myBlue);
    }
  }
}
