footer#footerSection {
  padding-top: 100px;
  padding-bottom: 30px;

  .contact {
    width: 166px;
    height: 331px;
    margin: 0 auto 125px auto;
    text-align: center;
    font: 13px "GothamPro-Light";
    p.phone {
      margin-bottom: 39px;
    }
    div.bear {
      margin-bottom: 55px;
    }
  }

  div.lastFoot {
    font: 12px "GothamPro-Light";
    span, a {
      margin-right: 47px;
      text-decoration: underline;
      text-decoration-color: $myBlue;
      &:hover {
        text-decoration: none;
      }
    }
    a {
      color: #000 !important;
    }
  }
  .bear {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    transition: all 1s ease-in-out;
  }
  .fade-in {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
