//Base Colors
$darkBlack: #000000;
$myBlack:   #1a1a1a;
$lightGray: #7A7A7A;
$myBlue:    #009E8E;
$lineColor: #E0E0E0;
$lightWhite: #f9f9f9;

//Path for images
$imgPath: '../../builds/development/images/works/';
