@import "myVariables";

section#our-portfolio {
  max-width: 100%;
  padding-top: 165px;

  //Numbers
  .numbers {
    margin-bottom: 120px;
  }
  //Figure span
  span.figure {
    display: block;
    font: 79px "GothamPro";
    text-align: center;
  }

  //Proj-kind span
  span.proj-kind {
    display: block;
    text-align: center;
    font: 14px "GothamPro-Light";
  }
    .wrap-portfolio {
      position: relative;
      min-height: 360px;
        .pad-g-0 {
          img {
            width: 100%;
          }
        }
        .belierBg{
          position: absolute;
          bottom: 0;
        }
        .smartBg {
          position: absolute;
          bottom: 0;
          right: 50%;
        }
    }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
