@import "myVariables";

section#our-services {
  //FirstServices
  div.firstServices {
    margin-bottom: 70px;
  }

  //Icon-wrapper
  div.icn-wrap {
    margin-bottom: 45px;
    opacity: 0;
    -webkit-transform: translate(50px, 100px);
    -moz-transform: translate(50px, 100px);
    -o-transform: translate(50px, 100px);
    transform: translate(50px, 100px);
    transition: all 1s ease-out;
  }
  .fade-in {
    opacity: 1 !important;
    -webkit-transform: translate(0, 0) !important;
    -moz-transform: translateY(0, 0) !important;
    -o-transform: translateY(0, 0) !important;
    transform: translateY(0, 0) !important;
  }

  p {
    display: block;
    width: 249px;
    height: 54px;
    font-size: 14px;
    margin: 0 auto;
  }
}
